<?xml version="1.0" encoding="UTF-8"?>
<!-- jsonSQLDBadmin - Protección de la carpeta del panel en IIS -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files><clear /><add value="index.php" /></files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="lib" />
          <add segment="vistas" />
          <add segment="datos" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".json" allowed="false" />
        </fileExtensions>
        <denyUrlSequences><add sequence="config.php" /></denyUrlSequences>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
